@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a.skip-main {
        @apply absolute top-[40px] w-[1px] h-[1px] overflow-hidden;
        left: -999px;
        z-index: -999;
        background: #2d2828;
    }

    a.skip-main:focus,
    a.skip-main:active {
        @apply text-white bg-[#2d2828] left-[5px] top-[50px] min-w-[200px] text-center my-[10px] mx-[5px] p-[10px] text-base z-[999] no-underline border border-black;
    }
    /* Nav */
    nav li {
        transition-duration: 0.5s;
    }
    nav  li:hover,
    nav li:focus-within {
        @apply cursor-pointer;
    }
    nav  li.no-pointer:hover,
    nav li.no-pointer:focus-within {
        @apply cursor-default;
    }
    nav ul li ul {
        @apply bg-white lg:left-0 px-0 py-1 lg:shadow-lg lg:absolute bg-gray-400 lg:max-w-[180px] w-full lg:w-[180px] lg:min-w-[180px] pl-8 lg:pl-0;
        z-index:9999;
        transition: all 0.5s ease;
        right: -20px;
    }
    nav ul li a {
        @apply block  bg-transparent group-hover:text-white group-hover:bg-gray-400;
    }
    nav ul li:hover > a {
        @apply text-gray-900;
    }
    nav ul li ul ul {
        @apply top-0;
        right: -180px;
        left:auto;
    }
    nav ul li img {
        @apply absolute right-[10px];
        top: calc(50% - 4px);
    }
    /* end nav */
}